<div ng-controller="documentCtrl" ng-init="list()">
    <form>
        <input ng-model="newDoc.title"></input>
        <button ng-click="create(newDoc)">Add</button>
    </form>
    
    <ul ng-repeat="doc in documents">
        <li ng-click="enableEditMode(doc)" focus-input>
            <p ng-hide="editingDocId==doc.id">{{doc.title}}</p>  
            <input ng-model="doc.newTitle" ng-show="editingDocId==doc.id" value="{{doc.title}}"></input>
            <button ng-click="update(doc); $event.stopPropagation()" ng-show="editingDocId==doc.id">Update</button>
            <button ng-click="delete(doc.id); $event.stopPropagation()" ng-show="editingDocId==doc.id">Delete</button>
            <button ng-click="disableEditMode(doc); $event.stopPropagation()" ng-show="editingDocId==doc.id">Cancel</button>
        </li>
    </ul>
</div>
